# Docker image
# Build a Docker image to deploy, run, or push to a container registry.
# Add steps that use Docker Compose, tag images, push to a registry, run an image, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker

trigger:
- develop

pool:
  vmImage: 'Ubuntu-16.04'

steps:
  - script: docker build -t $(dockerId).azurecr.io/$(apiImageName) .
    #docker login -u $(dockerId) -p $(password) $(dockerId).azurecr.io
    # docker push $(dockerId).azurecr.io/$(apiImageName)

# - script: docker build -t $(dockerId)/$(imageName)
# - script: docker build --no-cache -f ./src/MyBeerApp/MyBeerApp.Api/Dockerfile -t mybeerapp.azurecr.io/mybeerappapi .
#   displayName: 'docker build for MyBeerApp.Api'

# - task: Docker@1
#   displayName: Push image
#   inputs:
#     command: push
#     azureSubscriptionEndpoint: mybeerapp-resource-group
#     azureContainerRegistry: mybeerapp.azurecr.io
#     imageName: mybeerappapi:dev

# - script: docker build --no-cache -f ./src/MyBeerApp/MyBeerApp.Web/Dockerfile -t mybeerappweb:dev .
#   displayName: 'docker build for MyBeerApp.Web'