# Docker image
# Build a Docker image to deploy, run, or push to a container registry.
# Add steps that use Docker Compose, tag images, push to a registry, run an image, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker

trigger:
- develop

pool:
  vmImage: 'Ubuntu-16.04'

steps:
  - task: replacetokens
      targetFiles: **/appsettings.json
  - script: docker build --no-cache -f ./src/MyBeerApp/MyBeerApp.Api/Dockerfile -t $(dockerId).azurecr.io/$(apiImageName) .
  - script: docker build --no-cache -f ./src/MyBeerApp/MyBeerApp.Web/Dockerfile -t $(dockerId).azurecr.io/$(webImageName) .
  - script: docker login -u $(dockerId) -p $(password) $(dockerId).azurecr.io
  - script: docker push $(dockerId).azurecr.io/$(apiImageName)
  - script: docker push $(dockerId).azurecr.io/$(webImageName)